{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed books</h1>

    {% if all_borrowes_books %}
    <ul>

      {% for bookinst in all_borrowes_books %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}){{bookinst.borrower}}  
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}